<html>
<head>
    <title>MERKLESTATUS</title>
</head>

<body>
    <h2>Chain Integrity Check</h2>
    <a href="{% url 'transfer' %}">Transfer Funds</a>
    <a href="{% url 'transactionList' %}">My Transactions</a>
    <a href="{% url 'merkleStatus' %}">Check Merkle Status</a>
    <ul>
        {% for tx, is_valid in results %}
        <li>
            #{{ tx.id }} —
            {% if is_valid %}
            Verified
            {% else %}
            Has been Tamperd with
            {% endif %}
        </li>
        {% endfor %}
    </ul>

</body>
</html>
