<html>
<head>
    <title>TRANSACTION LIST</title>
</head>
<body>
    <a href="{% url 'transfer' %}">Transfer Funds</a>
    <a href="{% url 'transactionList' %}">My Transactions</a>
    <a href="{% url 'merkleStatus' %}">Check Merkle Status</a>
    <ul>
        {% for tx in transactions %}
        <li>
            {{ tx.id }} — {{ tx.jsonData.amount }} to account {{ tx.jsonData.receiver }}
            <br>Leaf hash is: {{ tx.merkleLeafHash|truncatechars:16 }}
        </li>
        {% empty %}
        <li>No Data</li>
        {% endfor %}
    </ul>
</body>
</html>
